[submodule "vendor/sprockets"]
	path = vendor/sprockets
	url = git://github.com/sstephenson/sprockets.git
[submodule "vendor/rdiscount"]
	path = vendor/rdiscount
	url = git://github.com/rtomayko/rdiscount.git
