<!DOCTYPE html>
<html>
  <head>
    <title>Hacknote</title>
    <link rel="stylesheet" href="./{{ theme }}/stylesheet.css" type="text/css" charset="utf-8" />
    <script src="./hacknote.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    {{ content }}
  </body>
</html>